body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0px 166px;
}

.header {
    background-image: url(bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;

    margin-right: 25px;

    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #d81d1d;
}


.cart {
    position: relative;

    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
}

.cart-img {
    position: absolute;
    top: 18px;
    right: 7px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;

    transition: color 0.3s linear;
}

.num:hover {
    color: #d81d1d;
}

.phone-text {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;

    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #894b17;
}


.register{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    transition: color 0.3s linear;
}
.register:hover{
      color: #d81d1d;
}
.regis{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
   transition: color 0.3s linear;
}
.regis:hover{
     color: #d81d1d;
}

/*Main*/
#main {
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    width: 500px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);

}

#main > span {
    margin: 20px auto;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto;
}

#login-cont, #password-cont,
#password-again-cont, #email-cont {
    display: flex;
    width: 350px;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}

#login-cont input, #password-cont input,
#password-again-cont input, #email-cont input {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    height: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    width: 200px;
}


div > span {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    white-space: nowrap;
}

#button {
    margin: auto;
    height: 50px;
}

#button button {
    margin-top: 0;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 30px 5px 30px;
    border-radius: 7px;
    transition-duration: .2s;
    border: 0;
}

#button button:hover {
    padding: 10px 35px 10px 35px;
    background-color: gray;
    margin-top: -5px;
}

#forgot-password {
    position: relative;
    margin: auto;

}
#forgot-password a span {
    color: white;
    font-family: "Open Sans", sans-serif;
    transition-duration: .2s;
}

#forgot-password a span:hover {
    color: gray;
}
/*Main*/